.box {
    background-color: rgba(242, 171, 49, 0.755);
    width: 1000px;
    height:400px;
    margin: 0px auto;
    border-radius: 30px;
    border: solid rgba(255, 255, 255, 0.575) 1px;
    box-shadow: 0px 0px 40px white;
    margin-top: 20px;
    padding: 40px;
}
