.editfield {
    background-color: rgb(208, 243, 209);
    border-radius: 25px;
    color: black;
    height: 20px;
    width: 155px;
    font-size: 12px;
    margin-right: 10px;
    border: 0px;
    padding: 3px;
}