.inputfield {
    margin-right: 40px;
    height: 40px;
    width: 340px;
    font-size: 20px;
    border: ridge white 1px;
    border-radius: 25px;
    font-size: 20px;
    padding: 8px;
    background-color: rgb(208, 243, 209);
    color: black;
}